*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: white;
    background-image: url("/img/wave.svg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.main-container{
    border: 15px solid black;
    width: 924px;
    min-height: 490px;
    top: 300px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    padding: 32px;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(205,206,208,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(205,206,208,1);
    box-shadow: 0px 0px 0px 2px rgba(205,206,208,1);
    filter: drop-shadow(20px 10px 4px #35353555);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    position: relative;
}

.timer{
    text-align: center;
    margin-bottom: 16px;
    font-size: 3rem;
    color: #0099ff;
    font-weight: bold;
}

.quote-display{
    margin-bottom: 1rem;
    font-size: 22px;
    margin-left: calc(1rem + 3px);
    margin-right: calc(1rem + 3px);
}

.quote-input{
    outline: none;
    background-color: transparent;
    border: 3px solid #97d1f8;
    border-radius: 16px;
    max-width: 100%;
    resize: none;
    padding: .5rem 1rem;
    width: 100%;
    font-size: 22px;
    margin-top: 32px;
}

.quote-input:focus{
    border-color: #0099ff;
}

.correct{
    color: yellowgreen;
}

.incorrect{
    color: red;
    text-decoration: underline;
}

.page-logo{
    width: 300px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.laptop-keyboard{
    filter: drop-shadow(20px 10px 4px #35353555);
}